{% extends "header.html" %}

{% block title %}
	Ticket Viewer
{% endblock %}

{% block page_content %}
	<div class="page-header">
		<h3 class="h3">
			Zendesk Ticket Viewer
		</h3>
	</div>

	{% if valid_response %}
		<div>
			<h4>
				Total Tickets: {{ total_tickets }}
				<br/>
				Tickets on this page: {{ page_tickets }}
			</h4>
			<div>
				{% if flag %}
					<h4>
						<ul>
							{% for page_number in total_pages %}
								<li class="ct_pagination">
									<a href="{{url_for('main.index', page_value=page_number, flash=False, _external=True)}}">
										{{ page_number }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</h4>

					<table>
						<thead>
							<tr>
								<th class="ticket_id">Ticket ID</th>
								<th class="ticket_subject">Subject</th>
								<th class="ticket_status">Status</th>
							</tr>
						</thead>

						<tbody>
							{% for item in response.tickets %}
								<tr>
									<td class="ticket_id">{{ item.id }}</td>
									<td class="ticket_subject">
										<a href="{{url_for('main.ticket', ticket_number=item.id, _external=True)}}">
											{{ item.subject }}
										</a>
									</td>
									<td class="ticket_status">{{ item.status }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>


				{% endif %}
			</div>
		</div>
	{% else %}
		<div>
			<h4>
				No tickets fetched.
			</h4>
		</div>
	{% endif %}
{% endblock %}